@import "tailwindcss";

body {
  background-image: url('/clouds-1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  background-color: #f0f4f8; 
  color: #1e293b;
  font-family: var(--font-inter), sans-serif;
  overscroll-behavior-y: none;
}